{% extends "stem/base.html" %}
    {% load crispy_forms_tags %} {% load static %} {% block content %}
    <div class="container">
    <div class="form-header-e">
      <div class="form-row">
        <div class="form-group col-md-2 mb-0">
            <img src="{% static 'stem/img/cnhslogo.png' %}" alt="">
        </div>
        <div class="form-group col-md-8 mb-0">
          <h2>LEARNER ENROLMENT AND SURVEY FORM</h2>
        </div>
        <div class="form-group col-md-2 mb-0">
            <img src="{% static 'stem/img/depedlogo.png' %}" alt="">
        </div>
      </div>
    </div>
    <div class="form-header-e-ins">
      <div class="form-group col-md-12 mb-0">
          <b>Instructions</b>
          <ol>
            <li>This enrolment survey shall be answered by the parent/guardian of the learner</li>
            <li>Please read the questions carefully and fill in all applicable spaces and write your answers legibly in CAPITAL letters. For items not applicable, write N/A.</li>
            <li>For questions/ clarifications, please ask for the assistance of the teacher/ person-in-charge.</li>
          </ol>
        </div>
    </div>
    <div class="content-login">
      <div class="master-login">
        <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <fieldset class="form-group">
            <div class="img-log">
              <!--<img src="{% static 'd_network/img/copypasta1.png' %}" alt="">-->
            </div>
            <h4>A. Grade Level and School Information</h4>
            <div class="form-row">
              <div class="form-group col-md-2 mb-0">
                {{ form.school_year1|as_crispy_field }}
              </div>
              <div class="form-group col-md-2 mb-0">
                {{ form.school_year2|as_crispy_field }}
              </div>
              <div class="form-group col-md-4 mb-0">
                {{ form.wlrn|as_crispy_field }}
              </div>
              <div class="form-group col-md-4 mb-0">
                {{ form.returning|as_crispy_field }}
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-3 mb-0 border border-top-0 border-left-0 border-bottom-0 border-dark">
                {{ form.grade_level_to_enroll|as_crispy_field }}
                {{ form.last_grade_level_com|as_crispy_field }}
                {{ form.last_school_year_com|as_crispy_field }}
              </div>
              <div class="form-group col-md-4 mb-0 border border-top-0 border-left-0 border-bottom-0 border-dark">
                <div class="form-row">
                  <div class="form-group col-md-8 mb-0">
                    {{ form.last_school_attended|as_crispy_field }}
                  </div>
                  <div class="form-group col-md-4 mb-0">
                    {{ form.school_id|as_crispy_field }}
                  </div>
                </div>
                <div class="form-group col-md-13 mb-0">
                  {{ form.school_address|as_crispy_field }}
                </div>
                <div class="form-group col-md-13 mb-0">
                  {{ form.school_type|as_crispy_field }}
                </div>
              </div>
              <div class="form-group col-md-5 mb-0">
                <div class="form-row">
                  <div class="form-group col-md-8 mb-0">
                    {{ form.school_to_enroll_in|as_crispy_field }}
                  </div>
                  <div class="form-group col-md-4 mb-0">
                    {{ form.school_id_to_enroll|as_crispy_field }}
                  </div>
                </div>
                <div class="form-group col-md-13 mb-0">
                  {{ form.school_address_to_enroll|as_crispy_field }}
                </div>
              </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-2 mb-0">
                  {{ form.semester|as_crispy_field }}
                </div>
                <div class="form-group col-md-6 mb-0">
                  {{ form.track|as_crispy_field }}
                </div>
                <div class="form-group col-md-4 mb-0">
                  {{ form.strand|as_crispy_field }}
                </div>
            </div>
            <h4>B. Student Information</h4>
            <div class="form-row">
                <div class="form-group col-md-6 mb-0">
                  {{ form.psa_cer_no|as_crispy_field }}
                </div>
                <div class="form-group col-md-6 mb-0">
                  {{ form.lrn|as_crispy_field }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4 mb-0">
                  {{ form.last_name|as_crispy_field }}
                </div>
                <div class="form-group col-md-3 mb-0">
                  {{ form.first_name|as_crispy_field }}
                </div>
                <div class="form-group col-md-3 mb-0">
                  {{ form.middle_name|as_crispy_field }}
                </div>
                <div class="form-group col-md-2 mb-0">
                  {{ form.extension_name|as_crispy_field }}
                </div>
            </div>
            
            <div class="form-row">
                <div class="form-group col-md-6 mb-0">
                <div class="form-row">
                  <div class="form-group col-md-12 mb-0">
                    {{ form.birthdate|as_crispy_field }}
                  </div>
                </div>
                  
                  <div class="form-row">
                    <div class="form-group col-md-6 mb-0">
                      {{ form.age|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-6 mb-0">
                      {{ form.sex|as_crispy_field }}
                    </div>
                  </div>
                  
                  
                  {{ form.ip|as_crispy_field }}
                  {{ form.ip_specify|as_crispy_field }}
                  {{ form.mother_tongue|as_crispy_field }}
                  {{ form.religion|as_crispy_field }}
                </div>
                <div class="form-group col-md-6 mb-0">
                <h6 class="border border-top-0 border-left-0 border-right-0 mb-3 border-dark">For Learners with Special Education Needs</h6>
                  {{ form.special_ed_needs|as_crispy_field }}
                  {{ form.speed_needs_specify|as_crispy_field }}
                  {{ form.technology_devices|as_crispy_field }}
                  {{ form.technology_devices_specify|as_crispy_field }}
                </div>
            </div>
            <h6 class="border border-top-0 border-left-0 border-right-0 mb-3 border-dark">Address</h6>
            <div class="form-row">
                <div class="form-group col-md-6 mb-0">
                   {{ form.house_number_and_street|as_crispy_field }}
                </div>
                <div class="form-group col-md-6 mb-0">
                  {{ form.barangay|as_crispy_field }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4 mb-0">
                   {{ form.city_municipality|as_crispy_field }}
                </div>
                <div class="form-group col-md-4 mb-0">
                  {{ form.province|as_crispy_field }}
                </div>
                <div class="form-group col-md-4 mb-0">
                  {{ form.region|as_crispy_field }}
                </div>
            </div>
            <h4>C. Parent/Guardian Information</h4>
            <div class="form-row">
                <div class="form-group col-md-4 mb-0 border border-top-0 border-left-0 border-bottom-0">
                   {{ form.father_full_name|as_crispy_field }}
                   {{ form.father_educ_attainment|as_crispy_field }}
                   {{ form.father_employment_status|as_crispy_field }}
                   {{ form.father_working_from_home_due_to_ecq|as_crispy_field }}
                   {{ form.father_contact|as_crispy_field }}
                </div>
                <div class="form-group col-md-4 mb-0 border border-top-0 border-left-0 border-bottom-0">
                  {{ form.mother_full_name|as_crispy_field }}
                  {{ form.mother_educ_attainment|as_crispy_field }}
                  {{ form.mother_employment_status|as_crispy_field }}
                  {{ form.mother_working_from_home_due_to_ecq|as_crispy_field }}
                  {{ form.mother_contact|as_crispy_field }}
                </div>
                <div class="form-group col-md-4 mb-0">
                  {{ form.guardian_full_name|as_crispy_field }}
                  {{ form.guardian_educ_attainment|as_crispy_field }}
                  {{ form.guardian_employment_status|as_crispy_field }}
                  {{ form.guardian_working_from_home_due_to_ecq|as_crispy_field }}
                  {{ form.guardian_contact|as_crispy_field }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4 mb-0">
                   {{ form.image|as_crispy_field }}
                </div>
                <div class="form-group col-md-4 mb-0">
                  {{ form.birth_certificate|as_crispy_field }}
                </div>
                <div class="form-group col-md-4 mb-0">
                  {{ form.form_137|as_crispy_field }}
                </div>
            </div>
          </fieldset>
          <div class="form-group">
            <button class="btn btn-primary" type="submit">Submit</button>
          </div>
        </form>
      </div>
    </>
    </div>
    {% endblock content %}
